Source: ocaml-merr
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml,
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libbatteries-ocaml-dev,
 libfindlib-ocaml-dev,
 libsexplib-camlp4-dev,
 menhir
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/merr
Vcs-Git: git://github.com/pippijn/merr
Vcs-Browser: https://github.com/pippijn/merr

Package: merr
Architecture: any
Depends:
 libmerr-ocaml-dev,
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Syntax error message generator for LR parsers.
 Merr (Meta-ERRor) is a syntax error message generator for LR parsers. It
 passes samples of erroneous input to the parser and produces an error message
 function that produces the error message written in the sample file when the
 same syntax error occurs again. with a modified version of the menhir parser
 generator. Adapting other parser generators such as ocamlyacc is probably not
 difficult.
 .
 This package contains the error message generator.

Package: libmerr-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Syntax error message generator for LR parsers.
 Merr (Meta-ERRor) is a syntax error message generator for LR parsers. It
 passes samples of erroneous input to the parser and produces an error message
 function that produces the error message written in the sample file when the
 same syntax error occurs again. with a modified version of the menhir parser
 generator. Adapting other parser generators such as ocamlyacc is probably not
 difficult.
 .
 This package contains the shared runtime libraries.

Package: libmerr-ocaml-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}
Provides: ${ocaml:Provides}
Recommends: merr, ocaml-findlib
Description: Syntax error message generator for LR parsers.
 Merr (Meta-ERRor) is a syntax error message generator for LR parsers. It
 passes samples of erroneous input to the parser and produces an error message
 function that produces the error message written in the sample file when the
 same syntax error occurs again. with a modified version of the menhir parser
 generator. Adapting other parser generators such as ocamlyacc is probably not
 difficult.
 .
 This package contains the interfaces needed to compile code generated by merr.
