#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/tmp

include /usr/share/ocaml/ocamlvars.mk

OCAMLFIND_DESTDIR = $(DESTDIR)/$(OCAML_STDLIB_DIR)
export OCAMLFIND_DESTDIR

override_dh_auto_install: $(OCAMLFIND_DESTDIR)
$(OCAMLFIND_DESTDIR):
	mkdir -p $@

%:
	dh --with ocaml $@

include $(shell obuild --where)/debian/rules.common
